.search-bar {
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 50px 20px 10px 20px;
}

.button {
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 5px 15px;
	border: 1px solid black;
	border-radius: 30px;
}

.listOne {
	list-style: none;
	text-align: center;
	display: block;
}

#city {
	font-size: 38px;
	margin: 0 auto;
	display: block;
}

#date {
	font-size: 25px;
	margin: 0 auto;
	display: block;
}

#description {
	font-size: 16px;
	margin: 10px;
	display: inline;
}

#precipitaion {
	font-size: 16px;
	margin: 10px;
	display: inline;
}

#humidity {
	font-size: 16px;
	margin: 10px;
	display: block;
}

#wind {
	font-size: 16px;
	margin: 10px;
	display: block;
}

.tempContainer {
	font-size: 80px;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding: 5px 5px 5px 5px;
}

.descHighLow {
	font-size: 24px;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding: 5px 5px 5px 5px;
}

.current {
	list-style: none;
	padding: 0;
}

.cityDateTime {
	list-style: none;
}

.stats {
	list-style: none;
}

.footer {
	font-size: smaller;
}
