.weather-app {
	max-width: 600px;
	margin: 30px auto;
	border: 1px solid #5585b5;
	padding: 20px;
	border-radius: 10px;
	background-color: #bbe4e9;
}

.search-bar {
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 20px 20px 10px 20px;
}

.button {
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 5px 15px;
	border: 1px solid black;
	border-radius: 30px;
}

.listOne {
	list-style: none;
	text-align: center;
	display: block;
}

#city {
	font-size: 38px;
	color: #5585b5;
	margin: 010px auto;
	display: block;
	font-family: "Roboto Condensed", sans-serif;
	line-height: 30px;
}

#date {
	font-size: 25px;
	color: #5585b5;
	margin: 0 auto;
	display: block;
}

#description {
	font-size: 16px;
	color: #53a8b6;
	margin: 10px;
	display: block;
}

#precipitaion {
	font-size: 16px;
	color: #53a8b6;
	margin: 10px;
	display: block;
}

#humidity {
	font-size: 16px;
	color: #53a8b6;
	margin: 10px;
	display: block;
}

#wind {
	font-size: 16px;
	color: #53a8b6;
	margin: 10px;
	display: block;
}

.tempContainer {
	font-size: 80px;
	color: #5585b5;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding: 5px 5px 5px 5px;
}

.descHighLow {
	font-size: 24px;
	text-align: center;
	margin: 0 auto;
	display: block;
	padding: 5px 5px 5px 5px;
}

.current {
	list-style: none;
	padding: 0;
}

.cityDateTime {
	list-style: none;
}

.stats {
	list-style: none;
}

.footer {
	font-size: smaller;
	margin: 0 auto;
	text-align: center;
	display: block;
}
